<div>
  <div class="table table-header">
    <div class="table-header-item">
      <span>Voters</span>
      <form>
        <input type="text" id="voterName" placeholder="Voter's name">
        <button class="button" type="submit" (click)="addVoter()">Add</button>
      </form>
    </div>
    <div class="table-header-item">
      <span>Candidates</span>
      <form>
        <input type="text" id="candidateName" placeholder="Candidate's name">
        <button class="button" type="submit" (click)="addCandidate()">Add</button>
      </form>
    </div>
  </div>
  <div class="table table-lines">
    <div class="table-item">
      <div class="table-line" *ngFor="let voter of receivedVoters">
        <span class="table-line-name">{{voter.name}}</span>
        <span class="table-line-mod">{{voter.hasVoted?'v':'x'}}</span>
        <button class="table-line-button" type="button" (click)="removeVoter(voter.id)">-</button>
      </div>
    </div>
    <div class="table-item">
      <div class="table-line" *ngFor="let candidate of receivedCandidates">
        <span class="table-line-name">{{candidate.name}}</span>
        <span class="table-line-mod">{{candidate.voteCount}}</span>
        <button class="table-line-button" type="button" (click)="removeCandidate(candidate.id)">-</button>
      </div>
    </div>
  </div>
</div>
<div class="vote">
  <span>Vote!</span>
  <form>
    <select id="voterId">
      <option disabled selected hidden>Choose a voter!</option>
      <ng-container *ngFor="let voter of receivedVoters">
        <option *ngIf="!voter.hasVoted" value="{{voter.id}}">{{voter.name}}</option>
      </ng-container>
    </select>
    <select id="candidateId">
      <option disabled selected hidden>Choose a candidate!</option>
      <ng-container *ngFor="let candidate of receivedCandidates">
        <option value="{{candidate.id}}">{{candidate.name}}</option>
      </ng-container>
    </select>
    <button class="button" type="submit" (click)="vote()">Submit</button>
  </form>
</div>
